sajithreproot/pipeline/Sales_pipeline.json
{
	"name": "Sales_pipeline",
	"properties": {
		"activities": [
			{
				"name": "WaterMarkLookup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select max_date as watermark from dbo.watermark where  table_name='sales'",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "AzureSqlTable_Watermark",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "NewWaterMark",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select max(visited_at) as newwatermark from dbo.sales ",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "AzureSqlTable_Source_Sales",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "copy the data to target",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "WaterMarkLookup",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "NewWaterMark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * from dbo.sales   where  visited_at> '@{activity('WaterMarkLookup').output.firstrow.watermark}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "AzureSqlTable_Source_Sales",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "AzureSqlTable_Sales_Target",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Update Matermark",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "copy the data to target",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[updatewatermark]",
					"storedProcedureParameters": {
						"max_date": {
							"value": {
								"value": "@activity('NewWaterMark').output.firstrow.newwatermark",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"table_name": {
							"value": "sales",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "linkservicemssql",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}